@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;

}
.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    min-width: 120px;
    margin-right: 20px;
    white-space: nowrap;
}

.menu{
    display: flex;
}

.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
}


.menuItems a{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;

}
.menuBtn {
    display: none;
    filter: brightness(0) saturate(100%) invert(62%) sepia(50%) saturate(409%) hue-rotate(346deg) brightness(93%) contrast(91%);
    transition: transform 0.3s ease;
}

.menuBtn:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
   
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu {
        position: absolute;
        right:0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }
    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-secondary);
        background: linear-gradient(0deg, var(--color-dark) 0%, var(--color-secondary) 100%);
        padding: 24px 33px;
        box-shadow: 0 8px 16px rgba(228, 143, 69, 0.15);
    }
    .menuOpen{
        display: flex;

        z-index: 1;    
    }
    
}
