@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 22px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: translateY(-2px);
}

.link img {
  filter: brightness(0) saturate(100%) invert(62%) sepia(50%) saturate(409%) hue-rotate(346deg) brightness(93%) contrast(91%);
  transition: transform 0.3s ease;
}

.link:hover img {
  transform: scale(1.1);
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}

.link:hover a {
  color: var(--color-primary);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
