:root{
    /* colors */
    --color-text: #2D2424;
    --color-text-soft: #4A3B3B;
    --color-primary: #E48F45;
    --color-secondary: #FFF9F5;
    --color-dark: #FFE6CA;
    --color-bg: #FFFFFF;

    /* fonts */
     --font-robot: "Roboto";

}
