@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    color: var(--color-text);
}

.span {
    position: relative;
}

.span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: var(--color-primary);
    border-radius: 5px;
}

.description{
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 4px 8px rgba(228, 143, 69, 0.2);
    transition: all 0.3s ease;
}

.contactBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(228, 143, 69, 0.3);
    background-color: #f0a564;
}

.heroImg{
    width: 30%;
    height: auto;
    aspect-ratio: 1/1;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(228, 143, 69, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.heroImg:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(228, 143, 69, 0.2);
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top:-128px;
    left: 10vw;
    border-radius: 764px;
    background: rgba(228, 143, 69, 0.3);
    filter: blur(120px);
    z-index: 0;
}

.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top:246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(245, 230, 202, 0.4);
    filter: blur(120px);
    z-index: 0;
}

@media screen and (max-width:830px){
    .container {
        flex-direction: column-reverse;
    }
    .content {
        align-items: center;
    }
}
