@import "../../vars.css";


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;


}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    color: var(--color-text);

}

.span {
    position: relative;
    
}
/*  this was changed so that i could see it better and it woulldnt break on samsungs*/
.span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: var(--color-primary);
    border-radius: 5px;
}
.description{
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    

}
.heroImg{
    width: 30%;
  height: auto;
  aspect-ratio: 1/1; /* Ensures the image remains square */

  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 50%; /* Makes the image a perfect circle */
  object-fit: cover; /* Ensures the image is cropped correctly in the circle */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Adds a soft shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}

@keyframes floating{
    0%{
        transform: translate(0, 0px);

    }
    50%{
        transform: translate(0, 10px);

    }
    100%{
        transform: translate(0, -0px);
    }
}
.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top:-128px;
    left: 10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109,0.7);
    filter: blur(100px);
    z-index: 0;
}
.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top:246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109,0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width:830px){
    .container {
        flex-direction: column-reverse;
    }
    .content {
        align-items: center;
    }
}